## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
for i in range(1,11) :
  print('For '+str(i))
  for j in range(1,11) :
    print(str(i)+" X "+str(j)+" = "+str(i*j))

For 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
For 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
For 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
For 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
For 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
For 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
For 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
For 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
For 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
For 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
l1=[1,2,3,4,5]
l2=[10,20,30,40,50]
l3=[]
for i in range(0,len(l1)) :
  if(i%2==1) :
    l3.append(l1[i])
for i in range(0,len(l2)) :
  if(i%2==0) :
    l3.append(l2[i])
print(l3)

[2, 4, 10, 30, 50]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
c=8;
for i in range(0,8) :
  for j in range(0,8-c) :
    print('  ', end='')
  for j in range(0,c) :
    print('* ', end='')
  c=c-1
  print('\n')

* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
base=5
exponent=4
ans=base
for i in range(1,exponent) :
  ans=ans*base
print(ans)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
f = open("test.txt", "a")
f.write("line1\n")
f.write("line2\n")
f.write("line3\n")
f.write("line4\n")
#f.write("line5")
f.write("line6\n")
f.write("line7\n")

f.close()

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
def split_input(s: str) -> list:
  x = s.split()
  return x;

split_input("IIT JODHPUR RAJASTHAN")

['IIT', 'JODHPUR', 'RAJASTHAN']

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
def show_employee(name: str,salary=9000):
  if(salary is None):
    salary=9000
  print(name+" salary: "+str(salary))

show_employee("Bill Gates",12000)
show_employee("Elon Musk")

Bill Gates salary: 12000
Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
def identify_lw(s: str) -> list:
  x = s.split()
  y=[]
  for i in x :
    if(not i.isalpha() and not i.isdigit()) :
      y.append(i)
  return y;

identify_lw("Harry25 is Gryffindor Wizard50 and cursed")

['Harry25', 'Wizard50']

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
import re

def str_replace(s: str) -> list:
  return re.sub('[$&+,:;=?@#/|\'<>\.\-^*()%!]', '#', s)

str_replace("/*Modi is @Politician & Melony!!")

'##Modi is #Politician # Melony##'

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
third_list=set()
for i in range(0,len(first_list)) :
  third_list.add((first_list[i],second_list[i]))
print(third_list)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A-B)
print(B-A)
print(A&B)
print(A|B)

{1, 2, 3}
{8, 6, 7}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [43]:
class Vehicle :
  def __init__(self,name,max_speed,mileage,capacity) :
      self.name=name
      self.max_speed=max_speed
      self.mileage=mileage
      self.capacity=capacity
  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"
  def fare(self):
      return self.capacity * 100

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [44]:
class Bus(Vehicle) :
  def __init__(self,name,max_speed,mileage,capacity) :
      super().__init__(name,max_speed,mileage,capacity)
  def show(self) :
    print("Bus has Top speed of "+self.max_speed+" and mileage of "+self.mileage)
  def seating_capacity(self):
    return super().seating_capacity(50)
  def fare(self):
    return super().fare() + 0.1*super().fare()

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [45]:
b=Bus("Jhun Jhun",90,20,50)
print(b.seating_capacity())

The seating capacity of a Jhun Jhun is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [46]:
print("Total Bus fare is:", b.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [47]:
import json

data = {"key1" : "value1", "key2" : "value2"}

jsonData = json.dumps(data)
print(jsonData)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [49]:
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

with open("test.json", "w") as op:
    json.dump(sampleJson, op, sort_keys=True)